<h1>User#create</h1>
<p>Find me in app/views/user/create.html.erb</p>
<br>

<!--NOTE! this should be done with embedded ruby a la form_for -->


<%= form_for @user, url: calendar_path do |f| %>

      <%= f.label :first_name, "first name" %>
      <br>
      <%= f.text_field :first_name %>

      <br>
      <%= f.label :last_name, "last name" %>
      <br>
      <%= f.text_field :last_name %>

       <br>
      <%= f.label :phone_number, "phone number" %>
      <br>
      <%= f.text_field :phone_number %>

       <br>
      <%= f.label :organization, "organization" %>
      <br>
      <%= f.text_field :organization %>

       <br>
      <%= f.label :title, "title" %>
      <br>
      <%= f.text_field :title %>

 	  <br>
      <%= f.label :tax_id, "tax id" %>
      <br>
      <%= f.text_field :tax_id %>

       <br>
      <%= f.label :email_address, "email address" %>
      <br>
      <%= f.text_field :email_address %>


       <br>
      <%= f.label :password, "password" %>
      <br>
      <%= f.password_field :password %>

       <br>
      <%= f.label :password_confirmation, "password confirmation" %>
      <br>
      <%= f.password_field :password_confirmation %>

      <br><br>
      <%= f.submit "Create my account" %>

      <br><br><br><br>

 <% end %>






