
<!--NOTE! this should be done with embedded ruby a la form_for -->

<h1 id="formHeader">Create Account</h1>

	

<%= form_for @user, url: calendar_path do |f| %>

      <%= f.label :first_name, "first name" %>
      <br>
      <%= f.text_field :first_name %>

      <br>
      <%= f.label :last_name, "last name" %>
      <br>
      <%= f.text_field :last_name %>

       <br>
      <%= f.label :phone_number, "phone number" %>
      <br>
      <%= f.text_field :phone_number %>

       <br>
      <%= f.label :organization, "organization" %>
      <br>
      <%= f.text_field :organization %>

       <br>
      <%= f.label :job_title, "job title" %>
      <br>
      <%= f.text_field :job_title %>

 	  <br>
      <%= f.label :tax_id, "tax id" %>
      <br>
      <%= f.text_field :tax_id %>

       <br>
      <%= f.label :email, "email address" %>
      <br>
      <%= f.text_field :email %>

       <br>
      <%= f.label :confirm_email, "confirm email address" %>
      <br>
      <%= f.text_field :confirm_email %>


       <br>
      <%= f.label :password, "password" %>
      <br>
      <%= f.password_field :password %>

       <br>
      <%= f.label :password_confirmation, "confirm password" %>
      <br>
      <%= f.password_field :password_confirmation %>
      <br><br>


	<%= f.submit "SUBMIT", :class => "form-control", :id => "submit_button"  %>

<!--
<form id="signupForm">

	<label for="organization">Organization</label>
	<input name="organization"type="text" id = "organization" class="form-control" placeholder="organization's name">

	<input type="text" id = "tax_id" class="form-control" placeholder="Tax id">


	<label for="first_name" id="adminLabel">Administrator</label>
	<input type="text" id = "first_name" class="form-control" placeholder="First Name">
	<input type="text" id="last_name" class="form-control" placeholder="Last Name">

	<input type="text" id = "email_address" class="form-control" placeholder="Email">

	<input type="text" id = "password" class="form-control" placeholder="Password">
</form>
-->

	

	


	<!-- <button type="button" id= "submit_button" onclick="create_user();">SUBMIT</button class="form-control"> -->

 <% end %>






