
<!--NOTE! this should be done with embedded ruby a la form_for -->

<h1 id="formHeader">Create Account</h1>
<form id="signupForm">
	

<%= form_for @user, url: calendar_path do |f| %>

      <%= f.label :first_name, "first name" %>
      <br>
      <%= f.text_field :first_name %>

      <br>
      <%= f.label :last_name, "last name" %>
      <br>
      <%= f.text_field :last_name %>

       <br>
      <%= f.label :phone_number, "phone number" %>
      <br>
      <%= f.text_field :phone_number %>

       <br>
      <%= f.label :organization, "organization" %>
      <br>
      <%= f.text_field :organization %>

       <br>
      <%= f.label :job_title, "job title" %>
      <br>
      <%= f.text_field :job_title %>

 	  <br>
      <%= f.label :tax_id, "tax id" %>
      <br>
      <%= f.text_field :tax_id %>

       <br>
      <%= f.label :email, "email address" %>
      <br>
      <%= f.text_field :email %>


       <br>
      <%= f.label :password, "password" %>
      <br>
      <%= f.password_field :password %>

       <br>
      <%= f.label :password_confirmation, "password confirmation" %>
      <br>
      <%= f.password_field :password_confirmation %>
      <br><br>

	<!--organization -->
	<label for="organization">Organization</label>
	<input name="organization"type="text" id = "organization" class="form-control" placeholder="organization's name">

	<!--tax id -->

	<input type="text" id = "tax_id" class="form-control" placeholder="Tax id">


	<!--email address-->
	<label for="first_name" id="adminLabel">Administrator</label>
	<input type="text" id = "first_name" class="form-control" placeholder="First Name">
	<input type="text" id="last_name" class="form-control" placeholder="Last Name">

	<input type="text" id = "email_address" class="form-control" placeholder="Email">

	<input type="text" id = "password" class="form-control" placeholder="Password">


	

	


	<button type="button" id= "submit_button" onclick="create_user();">SUBMIT</button class="form-control">

</form>

<script>


function create_user(){

	console.log("getting into create_user");

	var first_name = $("#first_name").val();
	var last_name = $("#last_name").val();
	var phone_number = $("#phone_number").val();
	var organization = $("#organization").val();
	var title = $("#title").val();
	var tax_id = $("#tax_id").val();
	var email_address = $("#email_address").val();
	var confirm_email_address = $("#confirm_email_address").val();
	var password = $("#password").val();
	var confirm_password = $("#confirm_password").val();

	console.log("first_name is: " + first_name);
	console.log("organization is: " + organization);


 var params = {
 		first_name: first_name,
 		last_name: last_name,
 		phone_number: phone_number, 
 		organization: organization,
 		title: title,
 		tax_id: tax_id, 
 		email_address: email_address, 
 		confirm_email_address: confirm_email_address, 
 		password: password,
 		confirm_password: confirm_password
 }; 



  $.ajax({
      type: "POST",
      url: "/user/create_helper/?format=json",
      data: params,
      dataType: "json",
      traditional: true,
      async:false,
      success: function(data){
        console.log("successfully got into success");
        console.log(data.post);

      }

    });
}

</script>
>>>>>>> 05ceea4e953d82e3526b00cf15d68f3572affc8d

      <br><br>
      <%= f.submit "Create my account" %>

      <br><br><br><br>

 <% end %>






