<div class="container" id="reportContainer">
	<div class="row">
		<div class="col-sm-2">
			<div class="btn-group-vertical" role="group" aria-label="...">
  				<button class="btn btn-default">Summary</button>
  				<button class="btn btn-default">Gas</button>
  				<button class="btn btn-default">Electricity</button>
  				<button class="btn btn-default">Water</button>
  				<button class="btn btn-default">What you can do</button>
  				
			</div>
		</div>
		<div class="col-sm-9 col-sm-offset-1">
			<h1>This is an overview of the results of your energy audit</h1>

<p>Your facility currently uses $$$ per month of electricity, $$$ for gas, and $$$ for water. You may be able to lower the total of these utility bills down to $$$.</p> 

<p><%= image_tag "washing-machine.png", :class => "floatLeft"%><span class="highlight">Washer machines</span> Your organization uses 30 washer machines. Based on the size of your organization and the number of residents, you can reduce that to 16 and lower your electricity cost by $210 each month.</p> 

<p><%= image_tag "light-bulb.png", :class => "floatLeft"%><span class="highlight">Inefficient light bulbs</span> 50 of the lightbulbs in your facility are incandescent. There are more efficient light bulbs at little to no cost that can lower your power usage and bill by 24%.</p> 

<p><%= image_tag "thermostat.png", :class => "floatLeft"%><span class="highlight">Furnace</span> The furnace in your building is outdated. We recommend that you replace it for a newer model, which are more energy efficient by 15-32%. As a plus, a modern furnace can even out the temperature in your facility, enhancing the comfort of your space.</p>
		</div>
		
	</div>
	
	<div class="row">
	<div class="col-sm-10 col-sm-offset-3">
		<h1 class="centerText">Gas</h1>
		<%= image_tag "gas.png", :class => "imageCenter" %>
	</div>
		
	</div>
	<div class="row">
	<div class="col-sm-10 col-sm-offset-3">
		<h1 class="centerText">Electricity</h1>
		<%= image_tag "electricity.png", :class => "imageCenter" %>
	</div>
		
	</div>
	<div class="row">
	<div class="col-sm-10 col-sm-offset-3">
		<h1 class="centerText">Water</h1>
		<%= image_tag "water.png", :class => "imageCenter" %>
	</div>
		
	</div>
	<div class="row" id="reportTable">
		<div class="col-sm-2">
			
		</div>
		<div class="col-sm-9 col-sm-offset-1">
			<div class="row">
				<div class="col-sm-4">
			<h1>Washer Machines</h1>
			<a href="http://www.masssave.com/~/media/Files/Residential/Applications-and-Rebate-Forms/ClothesWasher-Rebate-Form.ashx">Get a $75 mail-in rebate from MassSave for each qualifying high-efficiency washer.</a>
			<a href="http://jacoinc.net/Order/Availability?programID=66&zipCode=02118">Recycle your old washer and get $50 plus free pickup.</a> 



		</div>
		<div class="col-sm-4">
			<h1>Lightbulbs</h1>
			<p>Replace your incandescent lightbulbs for free, courtesy of Eversource. <br>Get Energy Federation subsidized LED & CFL lightbulbs. 
</p>
		</div>
		<div class="col-sm-4">
			<h1>Furnaces</h1>
			<p>
			<a href="https://www.smartenergy-zone.com/gasnetworks/">Mass Save HEAT Loan program: Get 0% interest financing for 2015</a>
			Commonwealth Small Pellet Boiler Grant Program
			<br>
			$400 Rebate for Propane-Fired Indirect Water Heaters 
			</p>
		</div>
			</div>
			
		</div>
		
	</div>
	
</div>
